<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="MobileOptimized" content="320" />
        <meta http-equiv="cleartype" content="on" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="baidu-tc-cerfication" content="adb1cfdc53149dddab7088a8077c62d6" />
        <link rel="apple-touch-icon-precomposed" href="/images/icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon144.png">
        
        
<title>亮相戛纳电影节的意大利影片--马里奥&bull;马尔托内导演新作《乡愁》_意大利明星_沪江意语</title>
<meta name="description" content="沪江意语网是免费意语学习网站，提供亮相戛纳电影节的意大利影片--马里奥&bull;马尔托内导演新作《乡愁》、意大利明星，意大利电影、备受瞩目的戛纳电影节已落下帷幕。著名导演马里奥·马尔托内携新片《乡愁》（Nostalgia）亮相电影节，并举行了首映礼，这也是本届电影节中唯一一部意大利语电影。《乡愁》由皮耶尔弗朗切斯科·法维奥领衔主演，信息">
<meta name="keywords" content="亮相戛纳电影节的意大利影片--马里奥&amp;bull;马尔托内导演新作《乡愁》,意大利明星,意大利电影">

<link rel="stylesheet" href="//res.hjfile.cn/pt/mobile/detail/release/detail.b4d7d6f7.css">

<script type="application/ld+json">
{
    "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
    "@id": "https://m.hujiang.com/it/p1376792/",
    "appid": "1599435190283012",
    "title": "亮相戛纳电影节的意大利影片--马里奥&bull;马尔托内导演新作《乡愁》",
    "images": [
        "//i2.w.hjfile.cn/doc/201501/d35ad97f-1004-4f1e-a465-afdc4d7ab62f_04.jpg"
    ],
    "pubDate": "2022-06-17T10:56:00"
}
</script>

    </head>

    <body>
        
<div class="wrapper-detail wrapper_index HJHuaCi" id="detail">
    
      <header class="head">
    <div class="title">
        <a href="//">沪江</a>
    </div>
    <div style="max-height: 48px; max-width: 48px; position: absolute; top: 0px; right: 60px;">
        <div id="uzt_ad_871"></div>
    </div>
</header>

    
    <!--文章内容-->
    <div class="main cf">
        <!--文章内容, 服务端-->
        <div class="para-title">
            <div class="para-pic">
                <img src="//i2.w.hjfile.cn/doc/201501/d35ad97f-1004-4f1e-a465-afdc4d7ab62f_04.jpg" alt="沪江">
            </div>
            <h1 class="para-text">亮相戛纳电影节的意大利影片--马里奥&bull;马尔托内导演新作《乡愁》</h1>
        </div>
        <div class="para-article keyword-article" ref="articleContent" :class="[{'shrink-content': !showAll}]">
            <div class="para-info-box">
                <div class="para-info grey cf">
                    <span class="author">冰糖菜花</span>
                    <span class="time">2022-06-17 10:56</span>
                </div>
                
                <!--文头软文-->
                <template v-if="topAdArray.length>0" v-for="item in topAdArray">
                    <div v-html="item.contentText" v-if="item.modelType === 'imagetext'"></div>
                    <div is="objectAd" :course-table="item.courseTable" v-else></div>
                </template>
            </div>
            <div class="article-content">
                <!--幻灯文章-->
                
                <p>备受瞩目的戛纳电影节已落下帷幕。著名导演马里奥·马尔托内携新片《乡愁》（Nostalgia）亮相电影节，并举行了首映礼，这也是本届电影节中唯一一部意大利语电影。《乡愁》由皮耶尔弗朗切斯科·法维奥领衔主演，讲述主人公费利切时隔多年重回故乡那不勒斯，开始探索自己过去的故事。通过文章一起来了解一下吧~</p>

<p style="text-align: center;"><img src="https://n1image.hjfile.cn/qa/2022/06/17/91afec166bf4c5becd63061269c0cabd.webp" style="height: 299px; width: 450px;"></p>

<p style="text-align: justify;">Unico film italiano presentato al Festival del cinema di Cannes, <em>Nostalgia </em>è l'ultima fatica cinematografica del talentuoso regista Mario Martone. Il film è tratto dall'omonimo romanzo di Ermanno Rea, ed è l'ultima parte della trilogia napoletana di Martone, dopo <em>Il sindaco del rione Sanità</em> e <em>Qui rido io</em>. L'ambientazione è quella di una Napoli misteriosa e cupa, valorizzata dalla meravigliosa fotografia di Paolo Carnera, che già si era occupato delle prime stagioni della serie Gomorra e di alcuni film dei fratelli D'Innocenzo.</p>

<p style="text-align: justify;"><span style="color:#008000;">《乡愁》（<em>Nostalgia</em>）是才华横溢的马里奥·马尔托内导演的一部新影片，也是唯一一部出现在本届戛纳电影节上的意大利电影。影片改编自埃尔曼诺·雷亚同名小说，是马尔托内那不勒斯三部曲的最后一部，前两部分别是《非常市长》（<em>Il sindaco del rione Sanità</em>）和《喜剧天王》（<em>Qui rido io</em>）。《乡愁》的取景地是神秘而灰暗的那不勒斯，保罗·卡尔内拉精湛的摄影技术为影片画面增色不少，之前他曾参与拍摄《格莫拉》系列剧第一季和迪诺琴佐兄弟导演的一些电影。</span></p>

<p style="text-align: justify;">Mario Martone ha raccontato le emozioni ancora a caldo di Cannes e dei David di Donatello, dove Eduardo Scarpetta ha vinto come miglior attore non protagonista per <em>Qui rido io</em>. Acclamato dalla stampa internazionale sulla croisette con il film <em>Nostalgia</em>, è arrivato a far desiderare la Palma per il protagonista Pierfrancesco Favino per il personaggio di Felice Lasco.</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">马里奥·马尔托内讲道，戛纳电影节和意大利电影大卫奖中的情绪依然热烈，此前爱德华多·斯卡皮纳曾凭借《喜剧天王》获得过意大利大卫奖最佳男配角。在戛纳的克洛伊塞特，这部电影获得了国际媒体的赞誉，也让饰演电影主人公费利切·拉斯科一角的演员皮耶尔弗朗切斯科·法维诺有望获得金棕榈奖。</span></span></p>

<p style="text-align: justify;">Uscito al cinema il 25 maggio, ha ricevuto grande accoglienza nelle sale italiane, dove l'atmosfera, dopo due anni di emergenza sanitaria a causa del Covid, sembra ancora tiepida. Il regista si è raccontato nel pieno del suo momento d'oro, in uno degli anni più gratificanti della sua carriera, sempre pronto a investire in nuovi progetti con la consapevolezza che in generale "i premi sono lotterie, poi si scordano, ciò che resta sono i film".</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">5月25日，尽管两年的新冠疫情之后，放映厅里的气氛还是很冷清，但电影一经上映还是得到广泛好评。导演讲道，她正处于黄金时刻，他职业生涯中最有价值的一年之一，他时刻准备着投资新的项目，也清醒地知道“获奖就像是中彩票一样，很快人们就会遗忘；真正能流传下来的，还是电影本身。”</span></span></p>

<p style="text-align: justify;">La trama del film è piuttosto essenziale, retta da un Pierfrancesco Favino in splendida forma e perfettamente calato nel personaggio. La storia narrata è quella di Felice, un napoletano che ha passato quarant'anni lontano dalla città natale, diventando un importante manager in Egitto.</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">领衔主演皮耶尔弗朗切斯科·法维奥以精湛的演技完美地刻画了影片主人公。影片围绕费利切的故事展开，费利切是一个那不勒斯人，他已经有四十多年没回家，现在是埃及的一名重要的经理。</span></span></p>

<p style="text-align: center;"><img src="https://n1image.hjfile.cn/qa/2022/06/17/5255f93dce6dadc0a4cb2f2e664134f8.png" style="width: 450px; height: 229px;"></p>

<p style="text-align: center;"><span style="">《乡愁》导演马里奥·马尔托内（右）和主演皮耶尔弗朗切斯科·法维奥（左）</span></p>

<p style="text-align: justify;">Il suo ritorno a Napoli è velato dai ricordi nostalgici degli anni dell'adolescenza trascorsi con gli amici e di quella gioia infantile che per lungo tempo aveva dimenticato. A rendere ancora più intensa la nostalgia del protagonista è il fatto che la città sia rimasta la stessa di sempre, nonostante il passare del tempo.</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">回到那不勒斯后，他总是回想起以前的记忆，想起与朋友们度过的青春年华和长久以来一直被他遗忘的童年。让主人公的乡愁更加深刻的是，纵使时光流逝，这座城市却始终一成不变。</span></span></p>

<p style="text-align: justify;">Ancora una volta, Favino si è dimostrato all'altezza delle aspettative del pubblico, recitando perfino in un perfetto arabo (quando si rivolge alla moglie egiziana). Notevole anche l'interpretazione di Aurora Quattrocchi, nel ruolo dell'anziana madre di Felice.</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">法维奥不负众望带来了精彩的表现，在与影片中埃及妻子的对手戏里，他用无可挑剔的阿拉伯语念出台词。奥罗拉·夸特罗乔基在片中饰演费利切年迈的母亲，她的表演也可圈可点。</span></span></p>

<p style="text-align: justify;">«La nostalgia qui non è rimpianto: è effettivamente qualcosa di magico», ha affermato il regista Mario Martone. «È un labirinto alle spalle del protagonista, ma quindi è alle spalle anche di ciascuno di noi. Cos'è il passato? È una linea dritta? No. Per nessuno è una linea dritta. È un labirinto per tutti noi. È un’insieme di cose: occasioni mancate, o occasioni invece colte, incontri, amori, amicizie, tradimenti. Cose buone, cose cattive. Tutto questo insieme, questa specie di giardino è la nostalgia intesa come un territorio. Noi in quel territorio ci siamo addentrati: ci sono cose magnifiche e ci sono anche cose pericolose».</p>

<p style="text-align: justify;"><span style="text-align:justify;"><span style="color:#008000;">影片导演马里奥·马尔托内表示：“这里所说的乡愁并不是遗憾，而是神奇的事情。它指的是主人公身后的迷宫，也是我们每个人身后的迷宫。过去是什么呢？是一条直线吗？当然不是。没有人的过去式一条直线，所有人的过去都像迷宫一样错综复杂，是一系列事物的总和：缺失的机遇，或抓住的机遇，相遇，爱情，友谊，背叛。好事，坏事。这一切，这个花园就是怀旧，它可以理解为一个地区。我们已经进入了这个区域，那里面既有奇妙的事，也有危险的事。”</span></span></p>

<p style="text-align: justify;"> </p>

<p><span style="color:#696969;"><span style="">素材来源：</span></span></p>

<p><span style="color:#696969;"><span style="">che-resta-sono-i-film/ </span></span></p>

<p><span style="color:#696969;"><span style="">声明：</span></span></p>

<p><span style="color:#696969;"><span style="">本文中文部分系沪江意大利语原创整理编译，如有不妥，敬请指正！未经许可，不得转载！</span></span></p>

                
            </div>
            <!--相关热点-->
            <div class="hot-point">
                
                <span>相关热点：</span>
                
                <a href="/it/zt/ydlmx/" class="item">意大利明星</a>
                
                <a href="/n/s/460/" class="item">意语入门</a>
                
                
            </div>
            <!--尾部软文-->
            <template v-if="bottomAdArray.length>0" v-for="item in bottomAdArray">
                <div v-html="item.contentText" v-if="item.modelType === 'imagetext'"></div>
                <div is="objectAd" :course-table="item.courseTable" v-else></div>
            </template>
            <div v-cloak class="view-all-gradient" @click="showAllClick" v-show="!showAll">
                <div class="view-all">展开剩余 <i class="hui-icon hui-icon-down"></i></div>
            </div>
        </div>
        
        <!--文末广告-->
        <div class="article-end-adv-box">
            <div id="article_end_adv" class="article_end_adv"></div>
        </div>
        <!--未知广告-->
        <div id="uzt_ad_499"></div>
        <!--相关阅读-->
        <div is="reading"></div>
        <!--相关课程-->
        <div is="relatedCourses" lang="it"></div>
        <!--学习疑问--><!--点赞--><!--分享--><!--下一篇-->
        <div class="btm-button fix-bottom">
            <div class="row_left">
                <a href="https://class.hujiang.com/crm/zx?tp=1003&td=45&utr=10018077&c=1&jid=60" target="_blank" class="ask_sth fl">学习有疑问？</a>
            </div>
            <div class="row">
                <div class="item-right">
                    <a v-if="nextContentId !== 0" :href="'/it/p'+nextContentId+'/'" class="to_next">
                        下一篇
                    </a>
                    <span v-else>已经是最后一篇</span>
                </div>
                <div class="item-right item-agree">
                    <a href="javascript:;" class="btn-praise" :class="[{active: isAgree}]"  @click="doAgree">
                        <i class="hui-icon hui-icon-praise"></i>
                        <span class="agree-num">${agreeNum || $var.agreeNum}</span>
                    </a>
                </div>
            </div>
        </div>
        <!--隐藏功能-->
        
    </div>

    <div id="uzt_ad_1014"></div>
    <div is="bottomFixAd" :is-detail="true"></div>
</div>

        
<script type="text/javascript">
  window.serverData = {
    articleLang: 'it',
    lang: 'it',
    langName: '意语',
    contentId: '1376792',
    parentCateId: '43050',
    cateId: '43051',
    tags: '意大利明星|意大利电影',
    agreeNum: '0',
    simple: '0'
  }
</script>

<script src="//res.hjfile.cn/js/lib/jq/1.8.3/jquery.min.js"></script>

        
        <script src="//trackcommon.hujiang.com/analytics/site/site_mo.js?v=20141027"></script>
        <script src="//res.hjfile.cn/pt/mobile/detail/release/common.aaf85ca2.js"></script>
        
<script src="//res.hjfile.cn/pt/mobile/detail/release/detail.aec0b3d5.js"></script>
<script src="//res.hjfile.cn/lib/uzhi/uzt.load.min.js"></script>

<!--tanglang CLASS-10815-->
<script type="text/javascript">
function tanglangInit() {
    var tlid = '6391aec7abd6ed0001bd4e6e', lang = window.serverData ? serverData.lang : ''
    if(lang=='en') tlid = '62fdd1288c93410001cc9dbd'
    if(lang=='jp') tlid = '62ff1a928c93410001cc9df6'

    // if(!tlid) return
    var tljs = 'https://chatn9.bjmantis.net/chat/js/dist/mantis.min.js?6344#'
    loadJs(tljs + tlid, tanglangLog);
}
tanglangInit()

function loadJs(src, callback) {
    var sc = document.createElement('script');
    sc.type = 'text/javascript';
    sc.src = src;
    if (callback) {
        sc.addEventListener("load", callback, false);
    }
    document.head.appendChild(sc);
}
function tanglangLog() {
    if(!window.ht || !window.mantis) {
        return setTimeout(tanglangLog, 100)
    }
    var vd = ht.getIDs().uid;
    var pg = window.location.href;
    var sd = ht.getIDs().ssid;
    var ud = ht.getIDs().hjid;
    var td = window._siteid || 20;
    var hjExts = ud; //ht.getIDs().hjid;
    var ed = 'bjmantisauto'; // 事件id 
    var utr = ''; // utr目前用不到，暂时不传
    var dd = ''; // 设备id，没有
    var un = ''; // 微信unionid，没有
    var tm = 'MC'; 
    var rd = ''; // 会话ID
    var tp = ''; // target_page

    var dockid = encodeURIComponent(vd + '|' + pg + '|' + sd + '|' + ud + '|' + td + '|' + ed + '|' + utr + '|' + dd + '|' + un + '|' + tm + '|' + hjExts + '|' + rd + '|' + tp + '||');
    mantis.pageparam = JSON.stringify({
        "dockid": dockid
    });
}
</script>

        <script async="async" src="//trackcommon.hujiang.com/analytics/baidu2/baidu_tongji.js?v=20141027"></script>
        
    </body>
</html>
